
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body, html {
  width: 100%; 
  margin: 0;
  padding: 0;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  width: 100%; 
  z-index: 1000;
}

.dark-nav {
  background-color: #3e0577;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 150px;
  cursor: pointer;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

li {
  font-size: 16px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

a:hover {
  color: #736c8a; 
}


.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.3s ease;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 15px 20px;
  }

  ul {
    display: none;
  }

  .logo {
    width: 100px;
  }

  .hamburger {
    display: flex; 
  }
}


.menu-active ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #3e0577;
  padding: 15px;
  gap: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}
